asgiref==3.4.1
astroid==2.12.12
autopep8==1.6.0
colorama==0.4.6
dill==0.3.6
Django==3.2.8
django-filter==21.1
docstring-to-markdown==0.10
flake8==5.0.4
gunicorn==20.1.0
isort==5.10.1
jedi==0.18.1
jsonpickle==0.9.6
lazy-object-proxy==1.8.0
mccabe==0.7.0
packaging==21.3
parso==0.8.3
Pillow==8.3.2
platformdirs==2.5.3
pluggy==1.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pydocstyle==6.1.1
pyflakes==2.5.0
pylint==2.15.5
pyparsing==3.0.6
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.6.0
pytoolconfig==1.2.2
pytz==2021.3
rope==1.4.0
rsa==4.8
six==1.16.0
snowballstemmer==2.2.0
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.4.0
ujson==5.5.0
uritemplate==3.0.1
whatthepatch==1.0.2
whitenoise==5.3.0
wrapt==1.14.1
yapf==0.32.0
